*{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    
}
body{
    display: inline-flex;
   align-items: center;
   margin-left: 3rem;
    background: #209785;
      background: -webkit-linear-gradient(to right, #137667, #289479);
      background: linear-gradient(to right, #36a494, #138367);
      font-family: 'Poppins', sans-serif;

}
#submit-button{
    background-color: cyan;
    color: white;
    text-align: center;
}
#container{ 
    display: block;
    width: 55vh;
    background: black;
    color: white;
    font-size: small;
    border: 2px solid black;
    margin-right: 8rem;
    
}
    

.pad{
        margin:1rem;}
    
div input{
    background-color: black;
    color: white;
    border: 2px solid black;
    border-bottom: 1px solid white;
    width: 45vh;
}
#submit-button{
    margin: 4px;
    width: 7rem;
    background: #4ed4b4;
      border-color: #4ed4b4;
      color: #fff;
}
.checkbox{
    display: inline-flex;
    flex-direction: row;
    margin-left: 0px;
}
#check-box{
    margin-left:0px ;
    width: 13px;
}
.title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
